:root {
    --primary-color: #ee4e2e;
    --black-color: #000;
    --white-color: #fff;
    --yellow-color: #ffd731;
    --height-header: 120px;
    --height-nav: 38px;
}

* {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}